<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCYwl6pJjs2LBQixWnww2H4ne8EC5iBd10</string>
	<key>GCM_SENDER_ID</key>
	<string>861470710409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterTextChatAppilication</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-application-7cfbb</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-application-7cfbb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:861470710409:ios:b81da0387aaa03a5a2c458</string>
</dict>
</plist>